# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/
htmlcov/
.env

# Android
.gradle/
local.properties
captures/
*.apk
*.aab
*.keystore
bin/

.droidbuilder/
python-for-android/

# IDE
.vscode/
.idea/