# ===============================
# Python
# ===============================
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll
*.lib
*.a
*.o
*.log
venv/
.env
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
*.cover
*.egg-info/
build/
dist/

# ===============================
# Android
# ===============================
.gradle/
local.properties
captures/
*.apk
*.aab
*.keystore
*.jks
bin/
gen/
out/
obj/
**/templates/

# Droidbuilder
.droidbuilder/
.gitmodules

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS junk files
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# Extras
# ===============================
extras/
deps/py2jib
browser/
